---
import { Image } from 'astro:assets';
---

<div id="container">
	<main>
		<section id="about">
			<Image 
                src="https://avatars.githubusercontent.com/u/143660898?v=4" 
                alt="Foto de perfil" 
                id="profile-pic" 
                width={150} 
                height={150} 
                class="profile-pic"
				loading="eager"
            />
			<h2>Sobre mí</h2>
			<p>
				Ingeniero Civil Informático egresado de la Universidad del Bío-Bío, especializado en desarrollo con experiencia en tecnologías como React, Node.js, Express.js y PHP Laravel. <br>
				Apasionado por el desarrollo y gestión de proyectos, destacando en la resolución de problemas y digitalización de procesos.
			</p>
			<section id="links">
				<a class="button" href="https://www.linkedin.com/in/javier-placencia/">Linkedin</a>
				<a class="button" href="mailto:javixempresa@gmail.com">Correo</a>
			</section>
		</section>
		<section id="projects">
            <h2>Proyectos</h2>
			<section class="layout">
				<div class="item">
					<p class="item-title">Plataforma de Postulación y Gestión Becas Municipales</p>
					<p class="item-description">Software para facilitar y optimizar el proceso de solicitud, revisión y asignación de becas a estudiantes.</p>
					<p class="item-pie">Tecnologías: React, Node.js, Express.js, MongoDB.</p>
				</div>
				<div class="item">
					<p class="item-title">Aplicación de Gestión de Acceso a Bicicletero Institucional</p>
					<p class="item-description">Aplicación movil y web para controlar, optimizar y digitalizar el proceso de ingreso y salida de bicicletas.</p>
					<p class="item-pie">Tecnologías: React Native, Node.js, Express.js, MongoDB.</p>
				</div>
				<div class="item">
					<p class="item-title">Aplicación de Horario de Clases</p>
					<p class="item-description">Aplicación movil para subir horario y asignaturas para estudiantes.</p>
					<p class="item-pie">Tecnologías: React Native.</p>
				</div>
				<div class="item">
					<p class="item-title">Plataforma de Apoyo del Control de Tráfico en el Registro de Servicios Ferroviarios e Itinerarios mediante un Sistema RFID Automatizado</p>
					<p class="item-description">Plataforma y simulación de sensores para el monitoreo en tiempo real de itinerarios ferroviarios.</p>
					<p class="item-pie">Tecnologías: React, Node.js, Express.js, MongoDB.</p>
				</div>
				<div class="item">
					<p class="item-title">Aplicación de Mascotas</p>
					<p class="item-description">Aplicación móvil para controlar la salud de tus mascotas.</p>
					<p class="item-pie">Tecnologías: Kotlin, SQL.</p>
				</div>
				<div class="item">
					<p class="item-title">Módulo de Fiscalización Tripulación Ferroviaria</p>
					<p class="item-description">Creación de módulo en plataforma para que la Tripulación fiscalice los viajes.</p>
					<p class="item-pie">Tecnologías: PHP Laravel, TailwindCSS, MySQL.</p>
				</div>
			</section>
        </section>
		<section class="footer">
			<p>© 2025 Javier Placencia</p>
			<p>javixempresa@gmail.com</p>
		</section>
	</main>
</div>

<style>
	#container {
		font-family: Inter, Roboto, 'Helvetica Neue', 'Arial Nova', 'Nimbus Sans', Arial, sans-serif;
		height: 100%;
	}

	main {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		padding: 2em;
	}

	h1 {
		font-size: 22px;
		margin-top: 0.25em;
	}

	#links {
		display: flex;
		justify-content: center;
		gap: 16px;
		margin-top: 20px;
	}

	#links a {
		display: flex;
		align-items: center;
		padding: 10px 12px;
		color: #111827;
		text-decoration: none;
		transition: color 0.2s;
	}

	#links a:hover {
		color: rgb(78, 80, 86);
	}

	#links a svg {
		height: 1em;
		margin-left: 8px;
	}

	#links a.button {
		color: white;
		background: linear-gradient(83.21deg, #888992 0%, #3a393a 100%);
		box-shadow:
			inset 0 0 0 1px rgba(255, 255, 255, 0.12),
			inset 0 -2px 0 rgba(0, 0, 0, 0.24);
		border-radius: 10px;
	}

	#links a.button:hover {
		color: rgb(230, 230, 230);
		box-shadow: none;
	}

	h2 {
		margin: 0 0 1em;
		font-weight: normal;
		color: #FFF;
		font-size: 20px;
	}

	p {
		color: #FFF;
		font-size: 16px;
		line-height: 24px;
		letter-spacing: -0.006em;
		margin: 0;
	}

	#profile-pic {
        width: 150px;
        height: 150px;
        border-radius: 50%;
        margin-bottom: 16px;
    }

    #about, #projects {
        margin: 32px 0;
        text-align: center;
    }

	#projects ul {
        list-style: none;
        padding: 0;
    }

    #projects li {
        margin-bottom: 16px;
    }

	.layout {
		width: 100%;
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
		gap: 8px;
	}

	.item {
		border-radius: 8px;
		border-color: #5b6168;
		border-width: 0.0625rem;
		border-style: solid;
		padding: 16px;
		text-align: left;
	}

	.item-title {
		color: #FFF;
		font-size: 18px;
		font-weight: bold;
	}

	.item-description {
		font-size: 16px;
		margin-top: 8px;
	}

	.item-pie {
		font-size: 14px;
		margin-top: 8px;
		color: #FFF;
	}

	.footer {
		text-align: center;
	}

	@media screen and (max-height: 368px) {
	}

	@media screen and (max-width: 768px) {
		#container {
			display: flex;
			flex-direction: column;
		}

		#links {
			flex-wrap: wrap;
		}

		#links a.button {
			padding: 14px 18px;
		}

		h1 {
			line-height: 1.5;
		}
	}
</style>
